.git
.github
.gitignore
.vscode
.idea
docker
data
internal/test/Dockerfile
deployments/id/docker-compose.yml
Makefile
*.md
**/*.env
web/public
**/*.log
Logs
logs
.DS_Store
__MACOSX/
*.exe
*.exe~
*.dll
*.so
*.dylib
**/*_test.go
internal/filehost
.mockery.yaml
.golangci.yml
qodana.yaml
internal/test